.projects__hover-item{
  background-image: url(../../../images/focus\ on\ projects__image.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 225px;
  left: 171px;
  display: none;
  cursor: pointer;
}
.projects__image:hover ~ .projects__hover-item{
  display: block;
}
.projects__hover-item:hover{
  display: block;
}
