.header__image-menu-link{
  text-decoration: none;
  color: #C4C4C4;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}
.header__image-menu-link:hover{
  color: #fff;
}
